@font-face {
    font-family: Ultrafresh;
    src: url(../fonts/ultrafresh.ttf);
}
@font-face {
    font-family: Allstar;
    src: url(../fonts/allstar.ttf);
}
@font-face {
    font-family: Badsignal;
    src: url(../fonts/badsignal.otf);
}
@font-face {
    font-family: Death;
    src: url(../fonts/death.ttf);
}
@font-face {
    font-family: Blacktop;
    src: url(../fonts/black.otf);
}
@font-face {
    font-family: Blackstreamer;
    src: url(../fonts/Blackstreamer.ttf);
}
@font-face {
    font-family: Rcblack;
    src: url(../fonts/rcblack.otf);
}
@font-face {
    font-family: Staatliches;
    src: url(../fonts/Staatliches-Regular.ttf);
}

