* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.main {

}
.header {
    width: 100%;
    height: 100vh;
    background: #161616;
    display: flex;
}
.left {
    width: 10%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.384);
}
.box {
    width: 100%;
    height: 20%;
    background: #ffffff1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxmod {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    flex-wrap: wrap;
}
.krug {
    flex-wrap: wrap;
    padding: 3px;
    margin: 1px;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}
.socseti {
    padding-top: 50%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.socseti-block {
    transform: rotateZ(-90deg);
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.socseti-block:hover{
    color: #c62828;
}
.right {
    width: 90%;
    height: 100%;
}
.verh {
    display: flex;
    width: 100%;
    height: 75%;
}
.verh-content{
    background: url("../img/superthumb3.png") no-repeat center;
    background-size: 20px;
    width: 80%;
    height: 100%;
}
.menu {
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../img/superthumb2.png") no-repeat left top;
    background-size: 50px;
}
.menu-wrap {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.menu-link {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-left: 5%;
}
.menu-link:hover{
    color: #c62828;
}
#vremia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    width: 60%;
    margin-right: 5%;
}
.section {
    position: relative;
    width: 100%;
    height: 74%;
    color: #ffffff;
    font-family: sans-serif;
    padding: 20px;
    overflow: hidden;
    background: url("../img/superthumb.png") no-repeat right bottom;
    background-size: 50px;
}
.marker {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.line {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px 10px;
    transition: 0.5s;
    cursor: pointer;
}
.line-active {
    padding: 10px 15px;
    border: 1px solid red;
}

.html {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 2px 109px -9px rgba(0,0,0,1);
}
.html img,.css img,.js img {
    width: 150px;
}
.css {
    position: absolute;
    top: 120%;
    left: 30px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 2px 109px -9px rgba(0,0,0,1);
}
.js {
    position: absolute;
    top: 120%;
    left: 30px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 2px 109px -9px rgba(0,0,0,1);
}
.verh-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.logo {
    transform: rotateZ(-90deg);
    color: #17262b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8rem;
    padding-bottom: 40%;
}
.niz {
    width: 100%;
    height: 25%;
    display: flex;
}
.portfolio  {
    width: 80%;
    height: 100%;
    position: relative;
    background: #212121;
    overflow: hidden;
}
.close {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}
.portfolio-title {
    position: absolute;
    left: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 60px;
    background: #000000b3;
    z-index: 2;
    box-shadow: -4px 2px 65px 5px rgba(0,0,0,0.75);
}
.open {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929d4;
    font-family: sans-serif;
    cursor: pointer;
    margin-right: 50px;
    transition: 0.5s;
}
.open:hover{
    background: #9a0000;;
}
.portfolio-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-shadow: inset -4px 2px 65px 5px rgba(0,0,0,0.75);
}
.box-menu {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
}
.menu-html,.menu-css,.menu-js {
    margin: 0 10px;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    background: #313131;
    cursor: pointer;
}
.menu-html {
    background: #9a0000;
}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.slider-html {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
}
.slider-css {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}
.slider-js {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
}
.container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    text-align: center;
    padding: 5px;
    /*border: 1px solid white;*/
    box-shadow: 0px 2px 70px -9px rgba(0,0,0,1);
    color: #ffffff;
    font-family: sans-serif;
}
.container-block:hover {
    background:black;
}

.container-block img {
    width: 80px;
}
.miniblock {
    width: 20%;
    height: 100%;
    background: #eff5f512;
}
