* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {

}
.header {
    width: 100%;
    height: 100vh;
    background: #161616;
    display: flex;
}
.left {
    width: 10%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.384);
}
.box {
    width: 100%;
    height: 20%;
    background: #ffffff1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxmod {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    flex-wrap: wrap;
}
.krug {
    flex-wrap: wrap;
    padding: 3px;
    margin: 1px;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}
.socseti {
    padding-top: 50%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.socseti-block {
    transform: rotateZ(-90deg);
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.socseti-block:hover{
    color: #c62828;
}
.right {
    width: 90%;
    height: 100%;
}
.verh {
    display: flex;
    width: 100%;
    height: 75%;
}
.verh-content{
    background: url("../img/bg.png") no-repeat right top;
    background-size: 400px;
    width: 80%;
    height: 100%;
}
.menu {
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-wrap {
    display: flex;
    width: 70%;
}
.menu-link {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-left: 5%;
}
.menu-link:hover{
    color: #c62828;
}
#vremia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    width: 30%;
}
.section {
    font-family: Death,sans-serif;
    color: #ffffff;
    font-size: 100px;
    padding-left: 100px;
}
.verh-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.logo {
    transform: rotateZ(-90deg);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8rem;
    padding-bottom: 40%;
}
.niz {
    width: 100%;
    height: 25%;
    display: flex;
}
.portfolio  {
    width: 80%;
    height: 100%;
    position: relative;
    background: grey;
    overflow: hidden;
}
.portfolio-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Badsignal, sans-serif;
    color: #fff;
    font-size: 100px;
    background: #161616;
    z-index: 2;
}
.portfolio-title span {
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    background: grey;
    cursor: pointer;
}
.portfolio-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 5%;
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.slider-box {
    background: #161616;
    width: 20%;
    height: 100%;
    margin: 10px
}
.miniblock {
    width: 20%;
    height: 100%;
    background: #eff5f512;
}
