footer
    .footer-menu.container
        .wrap-menu
            .footer-menu-link
                a Главная
            .footer-menu-link
                a Виды массажа
            .footer-menu-link
                a Массажисты
            .footer-menu-link
                a Цены
            .footer-menu-link
                a Контакты
        .footer-title
            p Массажный салон JIVA
            p Приходите с друзьями и отдохните у нас.
            p Или выбирайте выездную услугу и к Вам приедем мы.
    .footer-copyright.container
        p © 2018 Copyright: - JIVA
